

html {
  font-size: 62.5%;
  font-family: 'Myriad Pro';
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  font-weight: normal;
}




.mainlayout__block {
  position: relative;
  /*background-color: rgba(200, 200, 200, .5);*/
  text-align: center;
}

.mainlayout__center-container {
  position: relative;
  min-height: 200px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  /*background-color: rgba(174, 184, 205, .5);*/ /* violet */
  text-align: center;
  /*overflow: hidden;*/ /* for collapsing margins */
  border-top: 1px solid transparent;  /* for collapsing margins */
  border-bottom: 1px solid transparent; /* for collapsing margins */
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .mainlayout__center-container {
    padding: 20px 10px;
  }
}

.mainlayout-banner,
.mainlayout-services {
  background-repeat: no-repeat;
  background-size: cover;
}
.mainlayout-banner {
  background-image: url(bg/bg1.jpg);
  background-position: 80% 0;  
}
.mainlayout-services {
  background-image: url(bg/bg2.jpg);
}

.mainlayout-banner_callout {
  width: 60%;
  color: white;
  margin: 0 auto;
  line-height: 1.5;
  text-transform: uppercase;
}

.mainlayout-banner_callout-heading {
  font-size: 5.4em;  
  line-height: 1;
}

.mainlayout-banner_callout-comment {
  font-size: 1.5em;
}

@media screen and (min-width: 900px) {

  .mainlayout-banner {
    /*min-height: 900px;*/
    min-height: 500px;
  }

  .mainlayout__about-us {
    /*min-height: 620px;*/
    /*min-height: 220px;*/
    padding-top: 15em;
    padding-bottom: 15em;
  }

  .mainlayout__services {
    min-height: 480px;
  }

  .mainlayout__what-we-do {
    /*min-height: 1400px;*/
  }

  .mainlayout-gallery {
    /*min-height: 480px;*/
  }
  .mainlayout__contact-us {
    /*min-height: 600px;*/
  }
  
}


@media screen and (min-width: 900px) {

  .vertical-middle {    /* TODO/ problem when parent is shorter than positioned block */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}


/* CONTENT */

.contentbox-with-heading {
  max-width: 91rem;   /* 910px */
  padding: 0 20% 30px;
  margin: 0 auto;
  border: 2px solid black;
  font-size: 1.6rem; /* 16px */
}
.contentbox-with-heading_white {
  color: white;
  border-color: white;
}

@media screen and (max-width: 900px) {
  .contentbox-with-heading {
    font-size: 2.5vmax;
    margin: 0 0.5em;
    padding: 0 5vmax 30px;
  }
}

.contentbox-with-heading__heading {
  position: relative;
  top: -0.65em; /* -25px */
  background-color: #fff;
  min-width: 5em;
  /*max-width: 70%;*/  
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.contentbox-with-heading_white__heading {
  background-color: transparent;
}


.contentbox__subitem {
  margin-bottom: 5rem;
}
.contentbox__subitem:last-child{margin-bottom: 0;}


/* GALLERY */

.mainlayout-gallery {
  overflow: hidden;
  margin: 3em 0;
}

.mainlayout-gallery__row {
  margin: 0 -1%;
  overflow: hidden;
}

.mainlayout-gallery__item {
  display: block;
  float: left;
  width: 31.33%;
  margin: 1%;
  /*background-color: red;*/
  /*height: 100px;*/
}
  .mainlayout-gallery__item div {
    position: relative;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
  }
  .mainlayout-gallery__item span {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 2em;
    letter-spacing: .15em;
    color: white;
    text-transform: uppercase;
  }

  .mainlayout-gallery__item:nth-child(1) div { background-image: url(gallery/gal1.jpg); }
  .mainlayout-gallery__item:nth-child(2) div { background-image: url(gallery/gal2.jpg); }
  .mainlayout-gallery__item:nth-child(3) div { background-image: url(gallery/gal4.jpg); }
  .mainlayout-gallery__item:nth-child(4) div { background-image: url(gallery/gal3.jpg); }
  .mainlayout-gallery__item:nth-child(5) div { background-image: url(gallery/gal1.jpg); }
  .mainlayout-gallery__item:nth-child(6) div { background-image: url(gallery/gal2.jpg); }

@media screen and (max-width: 900px) {
  .mainlayout-gallery__item {
    width: 48%;
  }
}
